body {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 100vh;
	color: white;
}

.container {
	background-color: rgba(0, 0, 0, 0.7);
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0 0 10px black;
	margin-top: 50px;
}

label {
	font-weight: bold;
}

input[type="text"], input[type="email"], input[type="password"] {
	padding: 10px;
	margin-bottom: 20px;
	width: 100%;
	border-radius: 5px;
	border: none;
	background-color: rgba(255, 255, 255, 0.1);
	color: white;
	font-size: 18px;
}

button[type="submit"] {
	background-color: rgb(255, 160, 0);
	border: none;
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 18px;
	width: 150px;
	margin: 0 auto;
	display: block;
	transition: all 0.3s ease;
}

button[type="submit"]:hover {
	background-color: rgb(255, 140, 0);
	cursor: pointer;
}